.milieusWrapper {
  position: relative;
}

.milieus {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.milieuItem {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.milieuItem.clickable {
  cursor: pointer;
  padding: 4px 0;
  margin: -4px 0;
  border-radius: 4px;
}

.milieuItem.clickable:hover {
  background: var(--bg3);
}
